/* Conteneur pour la liste entière */
div {
    max-width: 1200px; /* Limiter la largeur du conteneur de la liste */
    margin: auto; /* Centrer le conteneur horizontalement */
    padding: 20px; /* Ajouter un padding autour du conteneur */
    border-radius: 8px; /* Coins arrondis */
    background-color: #f9f9f9; /* Couleur de fond claire */
    text-align: center;
  }
  
  /* Entête */
  h2 {
    text-align: center; /* Centrer le texte de l'entête */
    color: #333; /* Couleur de texte plus sombre */
  }
  
  /* Conteneur de bouton de navigation */
  .nav-container {
    display: flex; /* Utiliser flexbox pour disposer les boutons */
    justify-content: space-between; /* Espacement entre les boutons */
    margin-bottom: 7px; /* Réduit l'espace sous la navigation */
  }
  
  /* Conteneur pour la barre de recherche */
  .search-container {
    display: flex;
    justify-content: center; /* Centrer la barre de recherche horizontalement */
    margin-bottom: 15px; /* Espace sous la barre de recherche */
  }
  
  /* Style pour la barre de recherche */
  .search-container input {
    width: 100%; /* Prend toute la largeur possible */
    max-width: 400px; /* Limite la largeur maximale */
    padding: 10px; /* Padding à l'intérieur du champ */
    border: 1px solid #ccc; /* Bordure grise claire */
    border-radius: 4px; /* Coins arrondis */
    font-size: 16px; /* Taille de la police */
    outline: none; /* Supprime le contour par défaut */
    transition: border-color 0.3s; /* Animation pour la couleur de la bordure */
  }
  
  /* Style de la barre de recherche au focus */
  .search-container input:focus {
    border-color: #0086FB; /* Change la couleur de la bordure au focus */
  }
  
  /* Style pour les boutons */
  button {
    padding: 10px 20px; /* Padding à l'intérieur du bouton */
    background-color: #0086FB; /* Couleur de fond bleue */
    color: white; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    border-radius: 4px; /* Coins arrondis */
    font-size: 16px; /* Augmenter la taille de la police */
    cursor: pointer; /* Changer le curseur en pointeur au survol */
    display: inline-block; /* Assurer que le bouton est inline-block */
    margin: 0; /* Supprimer les marges par défaut */
  }
  
  button:hover {
    background-color: #00D3D6; /* Couleur plus foncée au survol */
  }
  
  /* Conteneur de tableau */
  .table-container {
    display: flex;
    justify-content: center; /* Centrer le tableau horizontalement */
  }
  
  /* Style du tableau */
  table {
    width: 100%; /* Faire en sorte que le tableau prenne toute la largeur de son conteneur */
    border-collapse: collapse; /* Fusionner les bordures pour un aspect net */
    margin-top: 10px; /* Réduit l'espace au-dessus du tableau */
    text-align: center;
    font-size: 18px; /* Augmenter la taille de la police */
  }
  
  /* Style des en-têtes du tableau */
  th {
    background-color: #0086FB; /* Couleur de fond bleue pour l'en-tête */
    color: white; /* Couleur du texte blanc */
    padding: 8px; /* Réduit le padding à l'intérieur des cellules d'en-tête */
    text-align: center;
  }
  
  /* Style des cellules du tableau */
  td {
    padding: 8px; /* Réduit le padding à l'intérieur des cellules */
    border-bottom: 1px solid #ddd; /* Bordure légère sous chaque cellule */
    text-align: center;
    line-height: 1.2; /* Ajuste l'espace entre les lignes */
    font-size: 18px; /* Augmenter la taille de la police */
  }
  
  /* Style multi-ligne */
  .multi-line {
    white-space: pre-wrap; /* Préserver les espaces et les retours à la ligne */
    word-wrap: break-word; /* Casser les mots longs sur la ligne suivante */
  }
  

td button {
  margin-right: 10px; /* Espace entre les boutons */
}
  
  .right-button {
    background-color: #e6e5e5; /* Couleur de fond du bouton */
    color: #0086FB; /* Couleur du texte en bleu foncé */
    font-weight: bold;
  }
  
  .right-button:hover {
    background-color: #00D3D6; /* Couleur plus foncée au survol */
  }
  