<div class="home-page">
    <div class="image-container">
        <img src="assets/food.jpg" alt="Image" class="home-image">
        <div class="overlay-text">
            <p>
                Donner de la nourriture aide à lutter contre le gaspillage en redistribuant les surplus aux personnes dans le besoin. 
                Cela encourage une gestion responsable des aliments, réduit les déchets et sensibilise à de bonnes pratiques de conservation.

            </p>
        </div>
    </div>
</div>
